body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: sans-serif;
    font-style: italic;
}
#box {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    background-color: oklch(71.463% 0.15525 64.725 / 0.817);
    width: 300px;
    height: 400px;
    border-radius: 30px 0px;
    padding: 40px 30px;
}
.label {
    font-size: 20px;
    font-weight: bold;
    color:aliceblue;
    padding: 10px 50px 10px 10px;
    margin-right: 150px;

}
.label.label2 {
    margin-top: 90px;
    
}
input {
    border: none;
    padding: 10px 60px;
    border-radius: 10px;
}
.button {
    letter-spacing: 2px;
    border: 2px solid lime;
    margin-top: 80px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.button:hover {
    background-color: lime
}
